* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    color: white;
    background-color: var(--primary-color);

}

a {
    text-decoration: none;
}
.fs-h1 {
  font-size: clamp(28px, 6vw, 48px);
}

.fs-h2 {
  font-size: clamp(24px, 5vw, 36px);
}

.fs-h3 {
  font-size: clamp(20px, 4vw, 28px);
}

.fs-h4 {
  font-size: clamp(18px, 3vw, 24px);
}

.fs-h5 {
  font-size: clamp(14px, 2.5vw, 20px);
}

.fs-p {
  font-size: clamp(14px, 2vw, 16px);
  color: gray;
}
:root{
    --primary-color:rgba(7, 13, 31, 255);
    --secondary-color:blueviolet
}